@import 'absoluteBlockAlign';

.Params {
	@include absolute-bottom-center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 4px 4px 29px -2px #e3e3e3;
	border-radius: 5px;
	table {
		td {
			white-space: nowrap;
			padding: 5px;
		}
	}
}