@import 'absoluteBlockAlign';

.ParamTableStyle {
	@include absolute-bottom-left;
	font-size: 90%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 4px 4px 29px -2px #e3e3e3;
	border-radius: 5px;
	table {
		td {
			white-space: nowrap;
			padding: 2px 5px;
		}
	}
}