div.CanvasStyle {
	width: 100%;
	height: 100%;
	svg {
		width: 100%;
		height: 100%;

		// SVG по умолчанию не является блоком
		// и потому рядом с ним невидимая строка есть.
		// Превращаем в блок и вертикальная прокрутка исчезнет.
		display: block;

		* {
			// https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/vector-effect
			vector-effect: non-scaling-stroke;
		}

		path {
			fill: transparent;
			stroke: black;
		}
	}
}