
.SpaceshipStyle {
	.MassCenter {
		stroke: transparent;
		fill: black;
	}
	line.AppliedMotionForceStyle {
		stroke: cyan;
	}
	line.AppliedRotationalForceStyle {
		stroke: red;
	}
	line.AppliedEngineForceStyle {
		stroke: #d224fc;
	}
	.SpaceshipImageStyle {
		path {
			stroke: blue;
			fill: transparent;
			fill: transparent;
		}
	}
}